@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');


body {
  background-color: #F4F4F4;
  font-family: "Geologica", sans-serif;

}

h1 {
  font-size: 60px;
  line-height: 66px;
}

h2 {
  font-size: 50px;
  line-height: 50px;
}

h3 {
  font-size: 26px;
  line-height: 40px;
}

h4 {
  font-size: 18px;
  line-height: 27px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

.containerX {
  margin: 0 400px;
}

@keyframes ripple {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}

.ripple {
  position: relative;
}

.ripple,
.ripple::after {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #58CB30;
}

.ripple::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
  animation: ripple 1s ease-out 0s infinite;
}


.icon-tilt .social {
  transition: all .2s ease-in;
}

.icon-tilt .social:hover {
  transform: rotate(-9deg);
}


.menu-list {
  bottom: calc(100% + 10px);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.3s ease-out forwards;
}

.animate-fadeOutDown {
  animation: fadeOutDown 0.3s ease-out forwards;
}