@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

:root {
  --primary-color: #8cd565;
}

body {
  background-color: #f4f4f4;
  font-family: "Geologica", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 60px;
  line-height: 66px;
}

h2 {
  font-size: 50px;
  line-height: 55px;
}

h3 {
  font-size: 26px;
  line-height: 40px;
}

h4 {
  font-size: 18px;
  line-height: 27px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

.containerX {
  margin: 0 300px;
}

@keyframes ripple {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}

.ripple {
  position: relative;
}

.ripple,
.ripple::after {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #58cb30;
}

.ripple::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
  animation: ripple 1s ease-out 0s infinite;
}

.icon-tilt .social {
  transition: all 0.2s ease-in;
}

.icon-tilt .social:hover {
  transform: rotate(-9deg);
}

.menu-list {
  left: 0;
  top: 0;
  z-index: 99999;
}

.educationBg_img {
  background-image: url(./assets/images/aboutbg-img.png);
  background-size: cover;
}

.mySwiper .swiper-slide {
  transition: transform 0.4s ease;
}

.mySwiper .swiper-slide-active {
  transform: scale(1.15);
}

.swiper-wrapper {
  padding: 100px 0;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.3s ease-out forwards;
}

.animate-fadeOutDown {
  animation: fadeOutDown 0.3s ease-out forwards;
}

.hand-wave {
  animation: wave 1.5s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(18deg);
  }
  30% {
    transform: rotate(-12deg);
  }
  45% {
    transform: rotate(18deg);
  }
  60% {
    transform: rotate(-12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.slide-text {
  display: flex;
  flex-direction: column;
  animation: slide 10s infinite;
}

.slide-text span {
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
  height: 50px;
  color: #1f1e1e;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0);
  }
}

.TechStack-items {
  transition: all 0.2s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  box-shadow: 0px 0px 10px 0px #0000001a;
}

.TechStack-items img {
  max-width: 100%;
  height: auto;
}

.TechStack-items:nth-child(1) {
  transform: rotate(-9deg);
}

.TechStack-items:nth-child(2) {
  transform: rotate(9deg);
}

.TechStack-items:nth-child(3) {
  transform: rotate(-9deg);
}

.TechStack-items:nth-child(4) {
  transform: rotate(9deg);
}

.TechStack-items:nth-child(5) {
  transform: rotate(-9deg);
}

.TechStack-items:nth-child(6) {
  transform: rotate(9deg);
}

.TechStack-items:nth-child(7) {
  transform: rotate(-9deg);
}

.TechStack-items:nth-child(8) {
  transform: rotate(9deg);
}

.TechStack-items:hover {
  transform: inherit;
}

.upwork-logo {
  position: fixed;
  bottom: 60px;
  left: 60px;
  z-index: 10;
}

.client-text {
  position: relative;
}

.circle-text {
  animation: rotate-animation 18s infinite linear;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.upwork-icon {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img-marquee {
  position: relative;
  margin-top: 80px;
  overflow-x: hidden;
}

.img-marquee:before,
.img-marquee:after {
  position: absolute;
  top: 0;
  content: "";
  width: 140px;
  height: 100%;
  z-index: 2;
}

.img-marquee:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.img-marquee:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

.logos {
  grid-column-gap: 30px;
  opacity: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  display: grid;
  width: 300rem;
  animation: slide 35s infinite linear;
}

@keyframes slide {
  0% {
    transform: translateX(calc(0% + 50px));
  }
  100% {
    transform: translateX(-100%);
  }
}

.logo_items img {
  max-width: inherit;
}

.logos:hover {
  animation-play-state: paused;
}

.startConversation_img {
  background-image: url(./assets/images/aboutbg-img.png);
  background-size: cover;
  background-position: center;
}

.Portfolio-grid {
  display: grid;
  grid-template-columns: auto 400px;
  grid-gap: 42px;
  margin-top: 42px;
}

.leftPortfolio-grid {
  display: grid;
  grid-template-columns: 400px auto;
  grid-gap: 42px;
  margin-top: 42px;
}

.Website-grid,
.Dashboard-grid,
.App-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 42px;
}

.Portfolio-contant {
  background: linear-gradient(
    180deg,
    rgba(30, 30, 30, 0) 0%,
    rgba(30, 30, 30, 0.8) 115.35%
  );
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 170px;
  display: flex;
  bottom: 0;
  align-items: end;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}

.Portfolio-items:hover .Portfolio-contant {
  opacity: 1;
  visibility: visible;
}

.link-items {
  width: 52px;
  height: 52px;
  background-color: white;
  padding: 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.link-items div {
  background-color: #222222;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.link-items div::before {
  content: url(assets/images/white-arrow.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0.4) translate(-55px, 58px);
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.link-items:hover div::before {
  transform: scale(1) translate(-50%, -50%);
}

.link-items img {
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.link-items:hover img {
  opacity: 0;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade {
  animation: fade 0.35s ease-in-out;
}

.project-imgage {
  padding: 20px 20px 0 20px;
}

.dot-items {
  padding-bottom: 100px;
}

.typing-text::after {
  content: "";
  animation: typing 12s steps(20) infinite;
}

  .custom-cursor {
    display: none !important;
  }

@keyframes typing {
  0%,
  5% {
    content: "";
  }
  1% {
    content: "U";
  }
  2% {
    content: "UI";
  }
  3% {
    content: "UI/";
  }
  4% {
    content: "UI/U";
  }
  5% {
    content: "UI/UX";
  }

  /* erase UI/UX */
  10% {
    content: "UI/UX";
  }
  12% {
    content: "UI/U";
  }
  14% {
    content: "UI/";
  }
  16% {
    content: "UI";
  }
  18% {
    content: "U";
  }
  20% {
    content: "";
  }

  /* Brand */
  21% {
    content: "B";
  }
  22% {
    content: "Br";
  }
  23% {
    content: "Bra";
  }
  24% {
    content: "Bran";
  }
  25% {
    content: "Brand";
  }

  /* erase Brand */
  30% {
    content: "Brand";
  }
  32% {
    content: "Bran";
  }
  34% {
    content: "Bra";
  }
  36% {
    content: "Br";
  }
  38% {
    content: "B";
  }
  40% {
    content: "";
  }

  /* Product */
  41% {
    content: "P";
  }
  42% {
    content: "Pr";
  }
  43% {
    content: "Pro";
  }
  44% {
    content: "Prod";
  }
  45% {
    content: "Produ";
  }
  46% {
    content: "Produc";
  }
  47% {
    content: "Product";
  }

  /* erase Product */
  52% {
    content: "Product";
  }
  54% {
    content: "Produc";
  }
  56% {
    content: "Produ";
  }
  58% {
    content: "Prod";
  }
  60% {
    content: "Pro";
  }
  62% {
    content: "Pr";
  }
  64% {
    content: "P";
  }
  66% {
    content: "";
  }

  /* Website */
  67% {
    content: "W";
  }
  68% {
    content: "We";
  }
  69% {
    content: "Web";
  }
  70% {
    content: "Webs";
  }
  71% {
    content: "Websi";
  }
  72% {
    content: "Websit";
  }
  73% {
    content: "Website";
  }

  /* erase Website */
  80% {
    content: "Website";
  }
  82% {
    content: "Websit";
  }
  84% {
    content: "Websi";
  }
  86% {
    content: "Webs";
  }
  88% {
    content: "Web";
  }
  90% {
    content: "We";
  }
  92% {
    content: "W";
  }
  94% {
    content: "";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
  width: 210px;
  text-align: center;
}

.typewriter::before {
  content: "";
  animation: typing 12s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.ms-cursor-ring,
.ms-cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  transform: scale(0);
}

.ms-cursor-ring {
  width: 40px;
  height: 40px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}

.ms-cursor-dot {
  width: 8px;
  height: 8px;
  background: var(--primary-color);
  border-radius: 50%;
}

/* From Uiverse.io by xXJollyHAKERXx */
.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 140px;
  height: 140px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 140px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: transparent;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}

.swiper-slide img {
  transition: all 0.4s ease;
  filter: grayscale(1);
}

.swiper-slide-active img {
  filter: grayscale(0%);
}

.swiper-slide {
  opacity: 0.6;
}

.swiper-slide-active {
  opacity: 1;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader span {
  display: block;
  height: 15px;
  width: 15px;
  background: #19e3d5;
  margin: 0 7px;
  border-radius: 10px;
  animation: 1.2s upDown infinite;
}

.preloader span:first-child {
  animation-delay: 0.15s;
}

.preloader span:nth-child(2) {
  animation-delay: 0.3s;
}

.preloader span:nth-child(3) {
  animation-delay: 0.45s;
}

.preloader span:nth-child(4) {
  animation-delay: 0.6s;
}

.preloader span:last-child {
  animation-delay: 0.75s;
}

@keyframes upDown {
  0% {
    height: 15px;
    background: #19e3d5;
  }

  50% {
    height: 60px;
    background: #d33deb;
  }

  100% {
    height: 15px;
    background: #f00e43;
  }
}

.Testimonial-slider {
  width: 80%;
}

.loader-45 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  color: var(--primary-color);
  -webkit-animation: animloader45 0.5s linear infinite alternate;
  animation: animloader45 0.6s linear infinite alternate;
  z-index: 99999;
}

@-webkit-keyframes animloader45 {
  0% {
    box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
  }
}
@keyframes animloader45 {
  0% {
    box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
  }
}

.slider-imges img,
.slider-imges{
  border-radius: 15px;
  overflow: hidden;
}


@media screen and (min-width: 1600px) and (max-width: 1799px) {
  .containerX {
    margin: 0 250px;
  }

  h1 {
    font-size: 50px;
    line-height: 66px;
  }

  h2 {
    font-size: 46px;
    line-height: 52px;
  }

  .Portfolio-grid {
    grid-template-columns: auto 325px;
    grid-gap: 38px;
  }

  .leftPortfolio-grid {
    grid-template-columns: 325px auto;
    grid-gap: 38px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1599px) {
  .containerX {
    margin: 0 200px;
  }

  h1 {
    font-size: 45px;
    line-height: 60px;
  }

  h2 {
    font-size: 42px;
    line-height: 52px;
  }

  h3 {
    font-size: 24px;
    line-height: 38px;
  }

  h4 {
    font-size: 16px;
    line-height: 25px;
  }

  .Portfolio-grid {
    grid-template-columns: auto 300px;
    grid-gap: 38px;
  }

  .leftPortfolio-grid {
    grid-template-columns: 300px auto;
    grid-gap: 38px;
  }

  .upwork-logo {
    left: 35px;
    bottom: 35px;
  }

  .upwork-icon {
    width: 46px;
  }

  .circle-text {
    width: 140px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .containerX {
    margin: 0 150px;
  }

  h1 {
    font-size: 40px;
    line-height: 54px;
  }

  h2 {
    font-size: 40px;
    line-height: 52px;
  }

  h3 {
    font-size: 24px;
    line-height: 38px;
  }

  h4 {
    font-size: 15px;
    line-height: 25px;
  }

  .Portfolio-grid {
    grid-template-columns: auto 240px;
    grid-gap: 36px;
  }

  .leftPortfolio-grid {
    grid-template-columns: 240px auto;
    grid-gap: 36px;
    margin-top: 38px;
  }

  .upwork-logo {
    left: 30px;
    bottom: 30px;
  }

  .upwork-icon {
    width: 48px;
  }

  .circle-text {
    width: 132px;
  }

  .workExperience_title h3 {
    font-size: 22px;
  }

  .typewriter {
    width: 200px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .containerX {
    margin: 0 100px;
  }

  h1 {
    font-size: 32px;
    line-height: 44px;
  }

  h2 {
    font-size: 30px;
    line-height: 52px;
  }

  h3 {
    font-size: 20px;
    line-height: 38px;
  }

  h4 {
    font-size: 14px;
    line-height: 25px;
  }

  .Portfolio-grid {
    grid-template-columns: none;
    margin-top: 35px;
  }

  .leftPortfolio-grid {
    grid-template-columns: none;
    margin-top: 35px;
  }

  .typewriter {
    width: 150px;
  }

  .upwork-logo {
    left: 26px;
    bottom: 26px;
  }

  .upwork-icon {
    width: 45px;
  }

  .circle-text {
    width: 125px;
  }

  .workExperience_title h3 {
    font-size: 18px;
  }

  .workExperience_list li {
    font-size: 14px;
  }

  .Website-grid,
  .Dashboard-grid,
  .App-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .TechStack-items {
    width: 80px;
    height: 80px;
  }

  .projectsSidebar h4 {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .containerX {
    margin: 0 50px;
  }

  h1 {
    font-size: 30px;
    line-height: 42px;
  }

  h2 {
    font-size: 28px;
    line-height: 40px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  h4 {
    font-size: 14px;
    line-height: 24px;
  }

  .Portfolio-grid {
    grid-template-columns: none;
    margin-top: 35px;
  }

  .leftPortfolio-grid {
    grid-template-columns: none;
    margin-top: 35px;
  }

  .typewriter {
    width: 150px;
  }

  .upwork-logo {
    left: 26px;
    bottom: 26px;
  }

  .upwork-icon {
    width: 38px;
  }

  .circle-text {
    width: 108px;
  }

  .workExperience_title h3 {
    font-size: 15px;
    line-height: 28px;
  }

  .workExperience_year {
    font-size: 14px;
  }

  .workExperience_list li {
    font-size: 13px;
  }

  .Website-grid,
  .Dashboard-grid,
  .App-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .img-marquee {
    overflow: hidden;
  }

  .dot-items {
    padding-bottom: 84px;
  }

  .TechStack-items {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .containerX {
    margin: 0 50px;
  }

  h1 {
    font-size: 26px;
    line-height: 35px;
  }

  h2 {
    font-size: 22px;
    line-height: 38px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  h4 {
    font-size: 12px;
    line-height: 20px;
  }

  .Portfolio-grid {
    grid-template-columns: none;
    margin-top: 30px;
  }

  .leftPortfolio-grid {
    grid-template-columns: none;
    margin-top: 35px;
  }

  .typewriter {
    width: 118px;
  }

  .upwork-logo {
    left: 26px;
    bottom: 26px;
  }

  .upwork-icon {
    width: 32px;
  }

  .circle-text {
    width: 98px;
  }

  .workExperience_title h3 {
    font-size: 12px;
    line-height: 28px;
  }

  .workExperience_year {
    font-size: 12px;
  }

  .workExperience_list li {
    font-size: 13px;
  }

  .Website-grid,
  .Dashboard-grid,
  .App-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .dot-items {
    padding-bottom: 88px;
  }
}

@media only screen and (max-width: 575px) {
  .containerX {
    margin: 0 35px;
  }

  h1 {
    font-size: 20px;
    line-height: 40px;
  }

  h2 {
    font-size: 20px;
    line-height: 30px;
  }

  h3 {
    font-size: 14px;
    line-height: 20px;
  }

  h4 {
    font-size: 16px;
    line-height: 20px;
  }

  .Portfolio-grid,
  .leftPortfolio-grid {
    grid-gap: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .Website-grid,
  .Dashboard-grid,
  .App-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .dot-items {
    padding-bottom: 132px;
  }

  .TechStack-items {
    width: 50px;
    height: 50px;
  }

  .TechStack-items img {
    width: 40px;
    height: 40px;
  }

  .typewriter {
    width: 90px;
  }

  .project-imgage {
    padding: 15px 15px 0 15px;
  }

  .Designe-text {
    font-size: 14px;
  }

  .Portfolio-contant {
    padding: 14px;
  }
}
